{% extends 'base.html' %}

{% block conteudo %}
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <h3 class="progress-title">HTML</h3>
            <div class="progress flask">
                <div class="progress-bar" style="width:50%;">
                    <div class="progress-value">50%</div>
                </div>
            </div>
            <h3 class="progress-title">CSS</h3>
            <div class="progress bootstrap">
                <div class="progress-bar" style="width:15%;">
                    <div class="progress-value">100%</div>
                </div>
            </div>
 
            <h3 class="progress-title">PYTHON</h3>
            <div class="progress html">
                <div class="progress-bar" style="width:70%;">
                    <div class="progress-value">70%</div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

